<div class="container">
    <div class="row p-4">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <h3>Bienvenido</h3>
                <h4>{{user.nombre}}</h4>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-md-6">
                <a href="">
                    <div class="card text-left text-dark">
                        <img class="card-img-top" src="/img/documentos.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Documentos</h4>
                            <p class="card-text">Lista de documentos que de debe tener cada una de la entidades</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/cuestionario">
                    <div class="card text-left text-dark">
                        <img class="card-img-top" src="/img/cuestionario.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Cuestionarios</h4>
                            <p class="card-text">Lista de cuestionario con preguntas de acerca del estado de las
                                entidades.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>